.menu a {
text-decoration: none;
color: #007fff;
height: 50px;
width: 100px;
text-align: center;
background-image: url(background-image: url(http://i714.photobucket.com/albums/ww144/jambankowe/WB01741L.gif);
}
.navbar-brand {
padding: 0px;

}
.logo {
background-color:#FFFFFF;
height: 50px;
width: 100px
}
.img1 {
margin-left: auto;
margin-right: auto;
display: block;
height: 350px;
width: 600px;
}

body {
background-color: rgba(97, 152, 255, 0.7);
background-image: url(http://i684.photobucket.com/albums/vv210/562bluerose/rainbow.jpg);

}
.page-header {
text-align: center;
}
button.btn.btn-default {
margin-top: 8px;
}
.img-responsive {
text-align: center;
}
.thumbnail img {
text-align: center;
}
.caption {
text-align: center;
}
.contact {
background-color: #F8F8F8;
height: 100px;
text-align: center;
margin-top: 20px;
width: 100%;
}
.contact p {
margin-top: 20px;
}
.navbar-right li a {
padding-top: 5px;
padding-bottom: 5px;
}
@font-face {
font-family: "Champagne";
src: url('Champagne.ttf');
}
@font-face {
font-family: "Champagne italic";
font-style: italic;
src: url('Champagne Italic.ttf');
}
@font-face {
font-family: "Champagne bold";
font-weight: bold;
src: url('Champagne Bold.ttf');
}
@font-face {
font-family: "Champagne bold italic";
font-weight: bold, italic;
src: url('Champagne Bold Italic.ttf');
}
/**{
font-family: 'Open Sans', sans-serif;
}*/
.navbar {
box-shadow: 1px 1px 5px #CCCCCC;
}
.logofoot img {
border-radius: 100%;
height: 50px;
width: 50px;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Champagne bold";
color: #3b00ed;
}
.caption {
background-color: #E7E7E7;}
p{ color: black;
	text-align: left;
}
li {color:blue;
	text-align: left;
}