<div id ="prog1">
<!-- Galerie -->
    <section class="sheet sheet--padding-small">
      <div class="container">
        <div class="row text-center xs-margin-bottom-large md-margin-bottom-large">
                <div class="col-xs-12">
                     <h1><span>G</span>alerie</h1>
                </div>
          </div>

            <div class="row">

            <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
              <%= image_tag 'laloupe_Q_jng', class: "img-responsive" %>
            </div>

          <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
            <%= image_tag 'logo2.png', class: "img-responsive" %>
          
          </div>

          <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
            <%= image_tag 'edsimplonvill.png', class: "img-responsive" %>
          </div>

          <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
            <%= image_tag 'a_006.jpeg', class: "img-responsive" %>
          
          </div>
          <div class="col-xs-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
          <img src="#" class="img-responsive" alt="Logo 5">
          </div>
          <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
          <img src="#" class="img-responsive" alt="Logo 6">
          </div>
        </div>
      </div>
    </section>
</div>    