<!-- Sponsors -->
<section class="sheet sheet--padding-small">
  <div class="container">
    <div class="row text-center xs-margin-bottom-large md-margin-bottom-large">
            <div class="col-xs-12">
                 <h3><span>P</span>artenaires</h3>
            </div>
      </div>

        <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
          <%= image_tag 'laloupe_Q_jng', class: "img-responsive" %>
        </div>

      <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
        <%= image_tag 'logo2.png', class: "img-responsive" %>
      
      </div>

      <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
        <%= image_tag 'edsimplonvill.png', class: "img-responsive" %>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
        <%= image_tag 'a_006.jpeg', class: "img-responsive" %>
      
      </div>
      <div class="col-xs-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
      <img src="#" class="img-responsive" alt="Logo 5">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 xs-margin-bottom sm-margin-bottom-large">
      <img src="#" class="img-responsive" alt="Logo 6">
      </div>
    </div>
  </div>
</section>


<!-- Renseignements -->

<section class="sheet sheet--padding-small">
  <div class="container">
    <div class="row text-center xs-margin-bottom-large md-margin-bottom-large">
            <div class="col-xs-12">
                 <h3><span>R</span>seignements</h3>
            </div>
      </div>

  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x300" alt="...">
            <div class="caption">

           <h3><span>I</span>nfos <span>P</span>ratiques</h3>

            <p>
                <li><strong>Ages :</strong> De 8 à 14 ans</li>
                <li><strong>Lieu :</strong> Le Château des Vaux, 28240 Saint-Maurice-Saint-Germain</li>
                <li><strong>Durée :</strong> Du 26 au 31 Octobre</li>
                <li><strong>Encadrement :</strong> 1 animateur pour 6 jeunes</li>
                <li><strong>Logement :</strong> Chambre de 2 ou 3</li>
                <li><strong>Repas :</strong> 3 repas par jour (petit-déjeuner, déjeuner,diner) avec une collation légère l'après-midi inclus dans la pension complète</li>
                <li><strong>Arrivée :</strong> Rendez-vous au chateau le dimanche 26 octobre à 14h</li>
                <li><strong>Départ : </strong> Vendredi 31 octobre à partir de 16h</li>
                <li><strong>Tarif :</strong> 495€ TTC (pension complète)</li>
                <li><strong>Contact et inscription :</strong></li>
                <em>Romain</em> 06 28 97 49 30
            </p> 
          </div>
      </div>
  </div>
<div class="col-sm-6 col-md-4" id="cap1">
      <div class="thumbnail">
        <img data-src="holder.js/300x300" src="https://simplon-village.slack.com/team/romain"/>
        <div class="caption" >
          <h3><span>C</span>ommandant de <span>B</span>ord</h3>

            <p>Romain COEUR est développeur professionnel et ingénieur de formation.
            Il est directeur technique d'Innov'Educ,la société organisatrice du tout nos programme,et sera votre animateur principal pendant toute la durée de vos activités,stages,ateliers.</p> 

        </div>
      </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
     <img data-src="holder.js/300x300" >
        <div class="caption">
          <h3><span>C</span>harte de <span>S</span>écurité</h3>

           <p>Kids-club propose un taux d’encadrement très supérieur pour assurer des programme de qualité:1 encadrant pour 2 enfants de (8 à 10 ans)1 encadrant pour 4 jeunes de (11 à 14 ans)Il est strictement interdit d’introduire et de consommer de l’alcool e tabac dans les locaux . Il est strictement interdit aux jeunes d’introduire de l’alcool sur le centre.La consommation de tabac est strictement encadrée, limitée et découragée. Le respect de soi-même, des autres et du matériel commun est une valeur fondamentale L’accès aux sites web pornographiques et d’incitation à la violence est interdit </p>
        </div>
  </div>
</div>

</div>
</div>
</section>
</div>