<section id="presentation">
<div class="container">
  <%= image_tag 'groupe_enfants.JPG', :class => "img-responsive img1"%>
</div>

<!--presentation-->
<div class="container">
  <div class="page-header">
    <div id ="pre">
       <h1><span>K</span>ids <span>C</span>lub</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" id="prese">
      <p>Kids-club est une solution éducative développée par un ingénieur de formation et une équipe des élèves de l'école numérique de la loupe."Apprendre à programmer avant d'être programmer"
      C'est l'objectif que Kids club cherche à atteindre avec un public d'enfants et d'adolescents(8 à 14 ans).
      Cet aspect éducatif a trois programmes :
        <ol>
          <li>Des ateliers de développement</li>
          <li>Des stage d'initiation à la création numérique</li>
          <li>Des activités animées aux sein des écoles et des colléges</li>
        </ol>
      </p>
    </div>
  </div>
</div>
</section>