<!--projects-->

<div id ="prog">



<div class="container">
      <header class="page-header">
        <h1><span>P</span>rogramme</h1>
      </header>

   <section class="row">
    
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="...">
              <div class="caption">
                <h3><span>A</span>telier</h3>
              <div class="font">
                <p>
                  Dés l'ouverture de notre premiére école numérique à la loupe, nos éléves ont réussie à monter et animer des ateliers de développement.
                  Nous proposons des ateliers spécialement pour un public d'enfants et d'adolescents(de 8 à 14ans ),nous aborderons la programmation par la création d'un jeu vidéo.
                  A travers ces ateliers, les participants découvriront ces facettes.

                  <ul>
                    <li>La programmation avec Scratch</li>
                    <li>la robotique avec Lego Mindstorms</li>
                    <li>Création de site internet </li>
                  </ul>
                <li>
                   <a href="inscription.html" class="btn btn-default btn-sm navbar-btn">Je m'inscris</a>
                </li>
              </p>
            </div>
        </div>
      </div>
      </div>
      
    
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x300" alt="...">
            <div class="caption">
             <h3><span>S</span>tage</h3>
              <div class="font" id= "taille">
              <p>
                Un stage est proposé par l'école numérique oû une trentaine de jeunes adultes apprennent le développement web et mobile .
                Nous allons programmer des stages d'une semaine spécialement pour le même public que les ateliers .
                Le programme du stage intègre une approche ludique en harmonie avec les ambitions du projet global de l'école.
                Durant ce stage on va :
                  <ul>
                    <li>Apprendre à coder pour apprendre à créer.</li>
                    <li>Ëtre acteur de la révolution numérique.</li>
                    <li>Favoriser une participation active et un travail en commun.</li>
                  </ul>
                <li>
                    <a href="inscription.html" class="btn btn-default btn-sm navbar-btn">Je m'inscris</a></li>

               </p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x300" alt="...">
            <div class="caption">
              <h3><span>A</span>ctivités</h3>
              <div  class="font">
                  <p>
                    Les petits hommes verts (les éléves de l'école numérique)ont pour objectifs durant les 6 mois de leur formation d'apprendre le code et de le faire apprendre à des éléves scolarisés dans des écoles primaires,
                    Dans ce cas y aura des interventions au sein des écoles primaires de la région perche,pourquoi pas dans d'autres régions.
                    Le but là c'est de:
                      <ul>
                        <li>Apprendre le code à des élèves de niveau primaire</li>
                        <li>Permettre aux enfants de créer leur jeu vidéo tout en codant</li>
                      </ul>
                    <li>
                       <a href="inscription.html" class="btn btn-default btn-sm navbar-btn">Je m'inscris</a>
                    </li>
                  </p>
              </div>
            </div>
        </div>
      </div>
      

</div>