<div class="container presentation" id="medias">
        <header class="page-header presentation">
            <h1>Nous contacter</h1>
        </header>
            <div class="row">
                <div class="col-md-offset-1 col-md-5 formulaire">
                    <form action="http://getsimpleform.com/messages?form_api_token=6b92dc12140d1790c4deb4797e6c7eca" method="post"><input type="hidden" name="redirect_to" value="http://www.innoveduc.fr"/>
                       <fieldset>
                           <label for="nom">Prénom:</label>
                           <input type="text" name="nom" id="nom" /></br>
                           <label for="prenom">Nom:</label>
                           <input type="text" name="prenom" id="prenom" /></br>
                           <label for="email">E-mail*:</label>
                           <input type="email" name="email" id="email" /></br>
                           <label for="telephone">Téléphone:</label>
                           <input type="text" name="telephone" id="telephone" /></br>
        
                </div>
                <div class="col-md-6 message">
                           <label for="message">Votre message*:</label><textarea name="message" id="message" rows="6" cols="25"></textarea>
                           <p id="champs">* champs obligatoire</p>
                           <input type="submit" value="Envoyer" class="btn btn-default" id="envoyer"/>
                       </form>
                </div>
            </div>
        </div>
    </div>





<!--<div class="container presentation" id="medias">
        <header class="page-header presentation">
            <h1>Inscription</h1>
        </header>
            <div class="row">
                <div class="col-md-4 formulaire">
                    <form action="#" method="post"><input type="hidden" name="redirect_to" value="#"/>
                    <fieldset>
                        <label for="nom">Nom:</label>
                        <input type="text" name="nom" id="nom" /></br>
                        <label for="prenom">Prénom:</label>
                        <input type="text" name="prenom" id="prenom" /></br>
                        <label for="email">E-mail*:</label>
                        <input type="email" name="email" id="email" /></br>
                        <label for="telephone">Téléphone:</label>
                        <input type="text" name="telephone" id="telephone" /></br>
                        <label for="domaine">Domaine:</label>
                        <select name="domaine" id="domaine" class="required number"><br/>
                             <option value="0">choix</option>
                             <option value="1">Atelier</option>
                             <option value="2">Stage</option>
                             <option value="3">Activité</option>
                        </select>
                        <div class="col-md-4">
                           <label for="message">Votre message*:</label><textarea name="message" id="message" rows="6" cols="25"></textarea>
                           <p id="champs">* champs obligatoire</p>
                           <input type="submit" value="Envoyer" class="btn btn-default" id="envoyer"/>
                           </form>
                       </div>
                </div>
            </div >     
 </div>

-->