<div id="ma" >

      <h1 style="text-align:center;color:blue">Kids-club</h1>
     <p style="color:red;text-align:center"> Nous avons le plaisir de vous accueillir </p>
   
<div class="container presentation" id="medias">
        <header class="page-header presentation">
            <h1>Inscription</h1>
        </header>
            <div class="row">
                <div class="col-md-offset-1 col-md-5 formulaire">
                    <form action="#" method="post"><input type="hidden" name="redirect_to" value="#"/>
                       <fieldset>
                        <label for="nom" style="display:inline-block;width:200px;">Nom:</label>
                        <input type="text" name="nom" id="nom" /></br>
                        <label for="prenom"style="display:inline-block;width:200px;">Prénom:</label>
                        <input type="text" name="prenom" id="prenom" /></br>
                        <label for="email"style="display:inline-block;width:200px;">E-mail*:</label>
                        <input type="email" name="email" id="email" /></br>
                        <label for="telephone"style="display:inline-block;width:200px;">Téléphone:</label>
                        <input type="text" name="telephone" id="telephone" /></br>
                        <label for="domaine" style="display:inline-block;width:200px;">Domaine:</label>
                        <select name="domaine" id="domaine" class="required number"><br/>
                             <option value="0">choix</option>
                             <option value="1">Atelier</option>
                             <option value="2">Stage</option>
                             <option value="3">Activité</option>

                    
            <label for="message">Votre message:</label>
            <input type="text" name="message" id="message" /></br>
<div class="col-md-6 message"> <label for="message" styel="text-align:center;width:200;">Votre message*:</label><textarea name="message" id="message" rows="6" cols="25"></textarea>
 <p id="champs">* champs obligatoire</p>
        <input type="submit" value="Envoyer" class="btn btn-default" id="envoyer" style="text-align:center";/>
                       
                </form>
            </div>
        </div>
 </div>
